{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 52
        }
      }
    ]
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "build": {
      "ignore": ["*.spec.js"]
    }
  }
}
