{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "mocha": true
  },
  "rules": {
    "object-shorthand": 0,
    "func-names": 0,
    "space-before-function-paren": 0,
    "new-cap": 0,
    "object-curly-spacing": [
      2,
      "never"
    ],
    "no-underscore-dangle": 0,
    "no-restricted-syntax": 0,
    "arrow-body-style": 0,
    "no-case-declarations": 0
  }
}